/Library/Win32/Debug/*.dcu
/__history
*.dcu
/Library/Win32/Debug/Highlighters
/Library/Win32/Debug/Colors
/Library/Win32/Release/Highlighters
/Library/Win32/Release/Colors
/Library/Win32/Release/*.exe
*.local
*.dll
*.7z
*.exe
/Library/Win64/Debug/Colors
/Library/Win64/Debug/Highlighters
*.rsm
*.identcache
*.stat
*.db
*.skincfg
/__recovery
/*.cbk
*.d
*.drc
*.map
*.tds
/Bin/Win32/LogViewer_MemoryManager_EventLog.txt
/LogViewer_project.tvsconfig
